.profile-bar
{
    width: 100%;
    height: 60px;
    background-color: white;
}

.options i
{
    margin-left: 1460px;
}

/* .profile
{
    width: 100%;
    height: 50px;
    background-color: black;
} */

.profile-bar a
{
    text-decoration: none;
}

